[Unit]
Description=Builds and install new kernel modules through DKMS
Documentation=man:dkms(8)

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/bin/sh "/usr/lib/dkms/dkms_autoinstaller"

[Install]
WantedBy=runlevel2.target
WantedBy=runlevel3.target
WantedBy=runlevel5.target
